###################################################
## Ignore Visual Code Extra Files by Billeclipse ##
###################################################

# Compiled Object files
*.obj

# Executables
*.exe

# Visual Code Files
*/.vscode